@import "~bootstrap/scss/bootstrap.scss";
@import "variables";

@import "../fonts/fontawesome-free-5.7.2-web/scss/fontawesome.scss";
@import "../fonts/fontawesome-free-5.7.2-web/scss/solid.scss";
@import "../fonts/fontawesome-free-5.7.2-web/scss/brands.scss";

//-------------------------------------------
//          GENERALS
//-------------------------------------------

body{
  background-color: $light;
  overflow-x: hidden;
  font-family: $font;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #999999;
  &:hover{
    background: #777777;
  }
}

h1, h2, h3, h4, h5, h6{
  color: $primary-font-color;
}

.preloader {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: 0.4s ease-in-out;
  pointer-events: none;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  .preloader-chasing-squares {
    width: 50px;
    height: 50px;
    line-height: 19px;
    .square{
      display: inline-block;
      width: 15px;
      height: 15px;
      opacity: 1;
      background: #666;
      animation: focusfade .7s infinite;
      &:nth-child(1) {
      }
      &:nth-child(2) {
        animation-delay: .175s;
      }
      &:nth-child(3) {
        animation-delay: .525s;
      }
      &:nth-child(4) {
        animation-delay: .35s;
      }
    }
  }
}

@keyframes focusfade {
  0% {
    opacity: 0.5;
    background: #000;
  }
  30% {
    opacity: 0.5;
    background: #666;
  }
  60% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
    background: #000;
  }
}

.language-switcher{
  background-color: transparent;
  padding: 0 10px;
  .lang-link{
    transition: 0.2s ease-in-out;
    color: $primary-font-color;
    text-decoration: none;
    font-weight: 600;
    &:hover{
      transition: 0.2s ease-in-out;
      color: $brand-warning;
    }
  }
  .active{
    color: $brand-warning;
  }
}

//-------------------------------------------
//          AJAX LOADER
//-------------------------------------------

.spinner {
  animation: rotate 2s linear infinite;
  z-index: 10001;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  width: 50px;
  height: 50px;
  & .path {
    stroke: rgb(103, 101, 99);
    stroke-linecap: round;
    animation: dash 1s ease-in-out infinite;
  }
}


@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}


.company-logo{
  pointer-events: none;
  z-index: 1000;
  position: absolute;
  top: 10vh;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  .company-image{
    width: 8vw;
    object-fit: contain;
  }
  .company-name{
    color: #ffffff;
    text-transform: uppercase;
    font-size: 0.75vw;
    font-weight: 900;
    letter-spacing: 0.2vw;
  }
}

//-------------------------------------------
//          AJAX ERRORS
//-------------------------------------------

.error-box{
  display: none;
  z-index: 20000;
  position: fixed;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  background-color: $brand-danger;
  padding: 10px 20px;
  text-align: center;
  .warn{
    font-size: 20px;
    color: $brand-warning;
  }
  .error{
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    color: $light;
  }
}

.error-email-box{
  display: none;
  z-index: 20000;
  position: fixed;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  background-color: $brand-danger;
  padding: 10px 20px;
  .errors{
    font-size: 18px;
    font-weight: 600;
    color: $light;
    list-style-type: none;
    li{
      padding: 5px;
    }
  }
}

.success-box{
  display: none;
  z-index: 20000;
  position: fixed;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  background-color: $brand-success;
  padding: 10px 20px;
  text-align: center;
  .success{
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    color: $light;
  }
}

.info-box{
  display: none;
  z-index: 20000;
  position: fixed;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  background-color: $light-grey;
  padding: 10px 20px;
  text-align: center;
  .info{
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    color: #333333;
  }
}

//-------------------------------------------
//          NAVBAR
//-------------------------------------------

.navigation {
  transition: 0.2s ease-in-out;
  z-index: 5000;
  background: $light;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid $primary-font-color;
  .navbar-brand {
    margin: 0;
    padding: 0 0 0 10px;
    color: $primary-font-color;
    text-transform: uppercase;
    .navbar-image{
      height: 30px;
      object-fit: contain;
    }
  }
  .navbar-toggler {
    border: none;
    border-radius: 0;
    padding: 0;
    .hamburger{
      padding: 5px;
      .line{
        width: 25px;
        height: 2px;
        background-color: #6c757d;
        display: block;
        margin: 6px auto;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
      }
      &.is-active .line:nth-child(2) {
        opacity: 0;
      }
      &.is-active .line:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        -ms-transform: translateY(8px) rotate(45deg);
        -o-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
      }
      &.is-active .line:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        -ms-transform: translateY(-8px) rotate(-45deg);
        -o-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
      }
    }
    &:focus{
      outline: none;
    }
  }
  .navbar-collapse {
    .navbar-nav {
      .nav-item {
        padding: 0 10px;
        .nav-link {
          transition: 0.2s ease-in-out;
          color: #6c757d;
          text-transform: uppercase;
          letter-spacing: 2px;
          font-weight: 400;
          &:hover{
            transition: 0.2s ease-in-out;
            color: $brand-warning;
          }
        }
        .active{
          color: $brand-warning;
          &:hover{
            color: #8A7945;
          }
        }
      }
    }
  }
}
.nav-down{
  transition: 0.2s ease-in-out;
  top: 0;
}
.nav-up {
  transition: 0.2s ease-in-out;
  top: -57px;
}

//-------------------------------------------
//          MAIN CATEGORIES
//-------------------------------------------

.main-categories-section{
  transition: 0.3s ease-in-out;
  position: relative;
  height: 100vh;
  width: 100vw;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eeeeee;
  overflow: hidden;
  .main-category-btn{
    transition: 0.3s ease-in-out;
    flex: 1 0 auto;
    margin: 0;
    padding: 2vh;
    border: none;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-size: 1vw;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-shadow: 0px 3px 10px rgba(0,0,0,0.4);
    &:hover{
      transition: 0.3s ease-in-out;
      flex: 4 0 auto;
      cursor: pointer;
    }
    &:focus{
      outline: none;
    }
  }
  .inactive{
    text-shadow: none;
    transition: 0.3s ease-in-out;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: brightness(50%);
    &:hover{
      transition: 0.3s ease-in-out;
      flex: 2 0 auto;
      filter: brightness(70%);
    }
  }
  .active{
    transition: 0.3s ease-in-out;
    align-items: center;
    flex: 4 0 auto;
    font-size: 2vw;
    font-weight: 900;
    &:hover{
      transition: 0.3s ease-in-out;
      cursor: pointer;
    }
  }
}

.sub-categories-section{
  display: none;
  justify-content: center;
  align-items: center;
  .sub-categories{
    padding: 30px 10px 50px 10px;
    margin: 0;
    text-align: center;
    .sub-categories-heading{
      text-align: center;
      text-transform: uppercase;
      padding: 0 10px 20px 10px;
      margin: 0;
      letter-spacing: 3px;
      font-weight: 100;
      font-size: 1.75vw;
    }
    .sub-category-btn{
      border: none;
      transition: 0.2s ease-in-out;
      display: inline;
      background-color: transparent;
      padding: 10px 0;
      margin: 10px;
      text-transform: uppercase;
      font-size: 0.7vw;
      font-weight: 400;
      letter-spacing: 2px;
      color: #2C3539;
      position: relative;
      &:before, &:after {
        content: '';
        position: absolute;
        transition: transform .3s ease;
      }
      &:before {
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background: #2C3539;
        transform:  scaleX(0);
      }
      &:hover:before {
        transform:  scaleX(1);
      }
      &:focus{
        outline: none;
      }
    }
    .active{
      transition: 0.2s ease-in-out;
      &:before {
        background: #c5c5c5;
        transform:  scaleX(1);
      }
    }
  }
}


//-------------------------------------------
//          PORTFOLIO GRID SYSTEM
//-------------------------------------------
.projects-heading{
  text-align: center;
  text-transform: uppercase;
  padding: 0 10px 20px 10px;
  margin: 0;
  letter-spacing: 3px;
  font-weight: 100;
  font-size: 1.75vw;
}
.portfolio-grid{
  position: relative;
  column-gap: 5px;
  column-count: 3;
  .portfolio-grid-item{
    position: relative;
    overflow: hidden;
    margin: 0;
    border: none;
    border-radius: 0;
    img{
      position: relative;
      border-radius: 0;
    }
    .overlay{
      pointer-events: none;
      position: absolute;
      width: 100%;
      height: 100%;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(255,255,255,0.5);
      .card-overlay-title{
        width: 100%;
        margin: 0;
        padding: 0;
        text-align: center;
        text-transform: uppercase;
        color: #2C3539;
        font-size: 1.75vw;
        .card-overlay-second{
          font-size: 1vw;
          font-weight: 400;
        }
      }
    }
    &:hover{
      cursor: pointer;
    }
  }
}




//-------------------------------------------
//          TOP PORTFOLIO GRID SYSTEM
//-------------------------------------------
.projects-heading-top{
  text-align: center;
  text-transform: uppercase;
  padding: 0 10px 20px 10px;
  margin: 0;
  letter-spacing: 3px;
  font-weight: 100;
  font-size: 1.75vw;
}
.top-portfolio-grid{
  position: relative;
  column-gap: 5px;
  column-count: 3;
  .portfolio-grid-item{
    position: relative;
    overflow: hidden;
    margin: 0;
    border: none;
    border-radius: 0;
    img{
      position: relative;
      border-radius: 0;
    }
    .overlay{
      pointer-events: none;
      position: absolute;
      width: 100%;
      height: 100%;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(255,255,255,0.5);
      .card-overlay-title{
        width: 100%;
        margin: 0;
        padding: 0;
        text-align: center;
        text-transform: uppercase;
        color: #2C3539;
        font-size: 1.75vw;
        .card-overlay-second{
          font-size: 1vw;
          font-weight: 400;
        }
      }
    }
    &:hover{
      cursor: pointer;
    }
  }
}




//-------------------------------------------
//          PROJECT MODAL
//-------------------------------------------

.custom-modal {
  display: none;
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.5);
  .custom-modal-content {
    padding: 0;
    background-color: $light;
    margin: 0;
    width: 100%;
    min-height: 100vh;
    max-height: 100vh;
    .custom-modal-header{
      z-index: 1;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 5vh;
      padding: 0 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $light;
      .close {
        font-weight: 100;
        flex: 1;
        text-align: left;
        font-size: 5vh;
        text-shadow: none;
        color: #2C3539;
        transform: rotateX(50deg);
        line-height: 100%;
        &:hover{
          cursor: pointer;
        }
        &:focus{
          outline: none;
        }
      }
      h3{
        font-size: 2.5vh;
        text-transform: uppercase;
        font-weight: 200;
        flex: 11;
        text-align: right;
        margin: 0;
      }
    }
    #project-view-container{
      padding-top: 5vh;
      .project-view{
        max-width: 100%;
        width: auto;
        overflow-x: auto;
        box-sizing: border-box;
        .project-view-img{
          display: block;
          height: 80vh;
          margin: auto;
        }
      }
      #panorama{
        width: 100vw;
        height: 80vh;
      }
    }
    #project-view-pills{
      height: calc(15vh - 10px);
      overflow-x: auto;
      overflow-y:hidden;
      flex-wrap: nowrap;
      li{
        a{
          padding: 0;
          margin: 0 10px;
          img{
            filter: saturate(0%);
            height: 8vh;
            width: 125px;
            object-fit: cover;
          }
        }
      }
      .active{
        img{
          filter: saturate(100%);
        }
        border-radius: 0;
        background-color: $brand-primary;
      }
    }
  }
}


//-------------------------------------------
//          MEET THE TEAM GRID
//-------------------------------------------

.meet-the-team-section{
  margin: 10vh auto 0 auto;
  padding: 50px 0;
  .member-card-container{
    position: relative;
    border-radius: 0;
    border: none;
    .member-info{
      transition: 0.3s ease-in-out;
      position: relative;
      .member-img{
        opacity: 1;
        width: 100%;
        height: 45vh;
        min-height: 250px;
        object-fit: cover;
        transition: 0.3s ease-in-out;
      }
      .member-p-img{
        position: absolute;
        top: 0;
        left: 0;
        transition: 0.3s ease-in-out;
        opacity: 0;
        width: 100%;
        height: 45vh;
        object-fit: cover;
      }
      .card-box{
        transition: 0.3s ease-in-out;
        transition-delay: 0.2s;
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        height: 0;
        background-image: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0.9));
        .text-container{
          transition: opacity 0.2s ease-in-out;
          opacity: 0;
          position: absolute;
          bottom: 0;
          padding: 0 0 20px 20px;
        }
      }
      &:hover{
        transition: 0.3s ease-in-out;
        cursor: pointer;
        .member-img{
          transition: 0.3s ease-in-out;
          opacity: 0;
        }
        .member-p-img{
          transition: 0.3s ease-in-out;
          opacity: 1;
        }
        .card-box{
          transition: 0.3s ease-in-out;
          height: 100%;
          .text-container{
            transition-delay: 0.3s;
            transition: opacity 0.2s ease-in-out;
            opacity: 1;
          }
        }
      }
    }
  }
}


//-------------------------------------------
//          MEMBER MODAL
//-------------------------------------------

.member-modal {
  transition: 0.5s ease-in-out;
  //display: none;
  position: fixed;
  z-index: 10000;
  right: -100vw;
  top: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0);
  .member-modal-content {
    border-left: 1px solid $primary-font-color;
    float: right;
    padding: 20px 30px;
    background-color: $light;
    margin: 0;
    width: 50vw;
    min-height: 100vh;
    .member-modal-close{
      position: relative;
      top: 0;
      right: 0;
      border: none;
      width: 100%;
      background-color: #ffffff;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 30px;
      padding: 10px;
      &:hover{
        cursor: pointer;
      }
    }
    .profile-pic{
      margin-top: 20px;
      width: 100%;
      height: 50vh;
      object-fit: cover;
    }
    .member-name{
      color: #6c757d;
      font-weight: 600;
      letter-spacing: 2px;
      margin: 0;
      padding: 15px 10px 0 0;
    }
    .member-position{
      color: #6c757d;
      font-weight: 100;
      margin: 0;
      padding: 5px 10px 20px 0;
    }
    .member-bio{
      font-size: 18px;
      max-height: 300px;
      overflow-y: auto;
      overflow-x: hidden;
      width: 100%;
    }
  }
}



//-------------------------------------------
//          CONTACTS
//-------------------------------------------

.contacts-section{
  position: relative;
  margin-top: 57px;
  padding: 15px 15px 0 15px;
  .desc{
    background-color: #f5f5f5;
    padding: 0 0 20px 0;
    .contact-description{
      padding: 20px 15px 20px 50px;
      p{
        color: #6c757d;
        width: 75%;
      }
    }
  }
  .contact-email{
    width: 70%;
    background-color: $light;
    padding: 20px;
    text-align: center;
    border: 1px solid $primary-font-color;
    .contact-email-title{
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 100;
      padding-top: 21px;
    }
    .contact-email-form{
      .contact-email-name-field{
        width: 100%;
        margin: 5px 0;
       .field{
         transition: 0.2s ease-in-out;
         width: 100%;
         height: 40px;
         padding: 0 10px;
         border: 1px solid rgba(0,0,0,0.1);
         &:focus{
           transition: 0.2s ease-in-out;
           border-bottom: 1px solid $brand-warning;
           outline: none;
         }
       }
      }
      .contact-email-phone-field{
        width: 100%;
        margin: 5px 0;
       .field{
         transition: 0.2s ease-in-out;
         width: 100%;
         height: 40px;
         padding: 0 10px;
         border: 1px solid rgba(0,0,0,0.1);
         &:focus{
           transition: 0.2s ease-in-out;
           border-bottom: 1px solid $brand-warning;
           outline: none;
         }
       }
      }
      .contact-email-email-field{
        width: 100%;
        margin: 5px 0;
       .field{
         transition: 0.2s ease-in-out;
         width: 100%;
         height: 40px;
         padding: 0 10px;
         border: 1px solid rgba(0,0,0,0.1);
         &:focus{
           transition: 0.2s ease-in-out;
           border-bottom: 1px solid $brand-warning;
           outline: none;
         }
       }
      }
      .contact-email-comment-field{
        width: 100%;
        margin: 5px 0;
       .comment{
         transition: 0.2s ease-in-out;
         resize: none;
         width: 100%;
         height: 175px;
         padding: 10px;
         border: 1px solid rgba(0,0,0,0.1);
         &:focus{
           transition: 0.2s ease-in-out;
           border-bottom: 1px solid $brand-warning;
           outline: none;
         }
       }
      }
      .submit-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        overflow: hidden;
        padding: 15px 10px;
        text-align: center;
        transition:
                all .2s ease,
                background-color .01s ease,
                color .01s ease;
        width: 100%;
        border: none;
        background-color: $brand-warning;
        color: $light;
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
        &.loading {
          animation: rotate 1.5s linear infinite;
          animation-delay: .2s;
          background-color: transparent;
          border: 3px solid #e1e1e1;
          border-radius: 50%;
          border-top-color: $brand-warning;
          box-sizing: border-box;
          height: 57px;
          width: 57px;
          color: transparent;
          padding: 0;
          pointer-events: none;
        }
        &:focus{

        }
        &:focus{
          outline: none;
        }
      }
      @keyframes rotate {
        100% { transform: rotate(360deg) }
      }
    }
    .disabled{
      pointer-events: none;
      opacity: 0.5;
    }
  }
  .small-info{
    padding: 20px 10px;
    margin: 15px 0 0 0;
    text-align: center;
    .contact-label{
      font-weight: 600;
      font-size: 14px;
      margin: 0;
      color: #6c757d;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
    .contact-address{
      padding: 15px 0;
      font-size: 18px;
      font-weight: 500;
      color: $primary-font-color;
      &:hover{
        cursor: pointer;
      }
    }
    .contact-mail{
      padding: 15px 0;
      font-size: 18px;
      font-weight: 500;
      color: $primary-font-color;
      &:hover{
        cursor: pointer;
      }
    }
    .contact-phone{
      padding: 15px 0;
      font-size: 18px;
      font-weight: 500;
      color: $primary-font-color;
      &:hover{
        cursor: pointer;
      }
    }
  }

  #map{
    width: 100%;
    height: 50vh;
    max-height: 450px;
    margin: 15px 0 -35px 0;
  }
}



//-------------------------------------------
//          FOOTER
//-------------------------------------------

.footer{
  border-top: 1px solid rgba(0,0,0,0.05);
  width: 100%;
  background-color: #ffffff;
  text-align: center;
  color: #6c757d;
  padding: 20px 0 0 0;
  margin: 50px 0 0 0;
  .footer-phone{
    padding: 10px 0;
    margin: 0;
    font-size: 18px;
    &:hover{
      cursor: pointer;
    }
  }
  .footer-email{
    padding: 10px 0;
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    &:hover{
      cursor: pointer;
    }
  }
  .footer-social{
    font-size: 20px;
    padding: 10px 20px;
    margin: 0;
    color: rgba(0,0,0,0.3);
    transition: all 0.3s;
    &:hover{
      text-decoration: none;
      color: rgba(0,0,0,0.6);
      transition: all 0.3s;
    }
  }
  .copyright{
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    background-color: rgba(0,0,0,0.05);
    color: #6c757d;
    margin: 20px 0 0 0;
    padding: 5px;
  }
}
.hidden{
  display: none;
}
.visible{
  display: block;
}


@import "responsive.scss";