@media screen and (max-width: 1400px) {
  .company-logo{
    .company-image{
      width: 12vw;
    }
    .company-name{
      font-size: 1.5vw;
      font-weight: 900;
    }
  }
  .main-categories-section{
    .main-category-btn{
      transition: 0.3s ease-in-out;
      font-size: 2vw;
    }
  }
  .portfolio-grid {
    column-count: 3;
  }
  .top-portfolio-grid {
    column-count: 3;
  }
  .sub-categories-section{
    .sub-categories{
      .sub-category-btn{
        font-size: 1vw;
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .portfolio-grid {
    column-count: 2;
    .portfolio-grid-item{
      .overlay{
        .card-overlay-title{
          font-size: 2vw;
          .card-overlay-second{
            font-size: 1.25vw;
          }
        }
      }
    }
  }
  .top-portfolio-grid {
    column-count: 2;
    .portfolio-grid-item{
      .overlay{
        .card-overlay-title{
          font-size: 2vw;
          .card-overlay-second{
            font-size: 1.25vw;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .company-logo{
    .company-image{
      width: 17.5vw;
    }
    .company-name{
      font-size: 2.5vw;
      font-weight: 900;
    }
  }
  .error-box{
    padding: 10px;
    width: 95vw;
    .error{
      font-size: 15px;
      font-weight: 400;
    }
  }
  .error-email-box{
    padding: 10px;
    width: 95vw;
    .errors{
      font-size: 15px;
      font-weight: 400;
    }
  }
  .success-box{
    padding: 10px;
    width: 95vw;
    .success{
      font-size: 15px;
      font-weight: 400;
    }
  }
  .info-box{
    padding: 10px;
    width: 95vw;
    .info{
      font-size: 15px;
      font-weight: 600;
    }
  }
  .main-categories-section{
    .main-category-btn{
      font-size: 3vw;
    }
    .active{
      font-size: 4vw;
    }
  }
  .sub-categories-section{
    .sub-categories{
      .sub-categories-heading{
        font-weight: 300;
        font-size: 3vw;
      }
      .sub-category-btn{
        font-size: 2vw;
      }
    }
  }
  .projects-heading-top{
    font-weight: 300;
    font-size: 3vw;
  }
  .portfolio-grid {
    .portfolio-grid-item{
      .overlay{
        .card-overlay-title{
          font-size: 2.5vw;
          .card-overlay-second{
            font-size: 1.75vw;
          }
        }
      }
    }
  }
  .top-portfolio-grid {
    .portfolio-grid-item{
      .overlay{
        .card-overlay-title{
          font-size: 2.5vw;
          .card-overlay-second{
            font-size: 1.75vw;
          }
        }
      }
    }
  }
  .custom-modal {
    .custom-modal-content {
      .custom-modal-header{
        .close {
          font-size: 5vh;
        }
        h3{
          font-size: 2vh;
          font-weight: 400;
        }
      }
      #project-view-pills{
        li{
          a{
            img{
              width: 100px;
            }
          }
        }
      }
    }
  }
  .meet-the-team-section{
    margin: 5vh auto 0 auto;
    .member-card-container{
      .member-info{
        .card-box{
          height: 100%;
          .text-container{
            opacity: 1;
          }
        }
      }
    }
  }
  .member-modal {
    .member-modal-content {
      border: none;
      width: 100vw;
    }
  }
  .contacts-section{
    .desc{
      background-color: $light;
      padding: 20px 0;
      .contact-description{
        padding: 20px 15px;
        p{
          width: 100%;
        }
      }
    }
    .contact-email{
      width: 100%;
    }
  }
  .locked-page{
    .login-form{
      min-width: 80vw;
      max-width: 95vw;
    }
  }
}

@media screen and (max-width: 500px) {
  .company-logo{
    .company-image{
      width: 20vw;
    }
    .company-name{
      font-size: 4vw;
      font-weight: 900;
      letter-spacing: 0.2vw;
    }
  }
  .main-categories-section{
    .main-category-btn{
      font-size: 4vw;
    }
    .active{
      font-size: 5vw;
    }
  }
  .portfolio-grid {
    column-count: 1;
    .portfolio-grid-item{
      margin: 15px 0;
      .overlay{
        .card-overlay-title{
          font-size: 3.5vw;
          .card-overlay-second{
            font-size: 2.75vw;
          }
        }
      }
    }
  }
  .top-portfolio-grid {
    column-count: 1;
    .portfolio-grid-item{
      margin: 15px 0;
      .overlay{
        .card-overlay-title{
          font-size: 3.5vw;
          .card-overlay-second{
            font-size: 2.75vw;
          }
        }
      }
    }
  }
  .sub-categories-section{
    .sub-categories{
      .sub-categories-heading{
        font-weight: 600;
        font-size: 5vw;
      }
      .sub-category-btn{
        font-size: 3vw;
      }
    }
  }
  .projects-heading-top{
    font-weight: 600;
    font-size: 5vw;
  }
}